@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.container {
    display: grid;
    grid-template: repeat(1, 500px) / repeat(2, 1fr);
    grid-gap: 10px;
}

body {
    background: linear-gradient(to bottom, #4ca1af, #2c3e50);
    background-repeat: round;
    background-size: contain;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: rgb(4, 41, 46);
}

.text-center {
    text-align: center;
}

.btn {
    border: 2px solid gray;
    outline: none;
    color: #4ca1af;
    width: 300px;
    height: 50px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(228, 228, 233));
    border-radius: 2em;
    font-size: 1.1em;
    font-weight: 600;
    box-shadow: 0 7px 14px -3px rgba(45, 35, 66, 0.3), 0 2px 4px 0 rgba(45, 35, 66, 0.4), inset 0 -2px 0 0 #cfd1e3;
}

.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(rgb(216, 215, 215), rgb(156, 156, 156));
}

.input {
    width: 300px;
    height: 50px;
    margin-top: 1em;
    color: black;
    border-radius: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 7px 14px -3px rgba(45, 35, 66, 0.3), 0 2px 4px 0 rgba(45, 35, 66, 0.4), inset 0 -2px 0 0 #cfd1e3;
}

.error {
    color: red;
    background: cornsilk;
}

.list {
    position: relative;
}

.list-files li,
.duplicated-list-files li {
    border: 0.5px solid rgb(228, 228, 228);
    border-radius: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.5em;
    margin-bottom: 8px;
    list-style: none;
    list-style-image: url("../../assets/img/file.png");
    box-shadow: 0 7px 14px -3px rgba(45, 35, 66, 0.3), 0 2px 4px 0 rgba(45, 35, 66, 0.4), inset 0 -2px 0 0 #cfd1e3;
}

.list-files li:hover,
.duplicated-list-files li:hover {
    transition: 0.3s background ease-in;
    background: rgb(80, 80, 80);
    color: aliceblue;
    cursor: pointer;
}


/* duplicated-files-modal*/

.dup-parent {
    display: none;
    width: 100%;
    background: rgba(82, 82, 82, 0.52);
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 1em;
}

.duplicated-files-modal {
    background: linear-gradient(to bottom, #4ca1af, #2c3e50);
    border: 1px solid lightgray;
    display: none;
    position: fixed;
    z-index: 1;
    left: 12em;
    top: 10em;
    height: 60%;
    width: 60%;
    overflow: auto;
    border-radius: 1em;
}


/* The Close Button */

.close-btn {
    color: rgb(219, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 25px;
}

.close-btn:hover,
.close-btn:focus {
    cursor: pointer;
    color: rgb(61, 194, 0);
    text-decoration: none;
}